


<div class="logo-container">
    <img class="img-g" src="/logo.jpg" alt="Logo" />
  </div>
<ul>
    <li> 
      <a style="text-decoration: none;" class="nav-link" href="/">
        <i class="fas fa-home"></i>
        <span class="nav-item">DashBoard</span>
        </a>
      </li>
    <li>
      <a style="text-decoration: none;" class="nav-link" href = "/ChangePassword">
        <i class="fas fa-user"></i>
        <span class="nav-item">ChangePassword</span>

      </a>
      </li>
    
    <li>
      <a style="text-decoration: none;" class="nav-link" href="/Music">
        <i class="fa-solid fa-music"></i>
                <span class="nav-item">Music</span>

      </a>
      </li>


      <li>
        <a style="text-decoration: none;" class="nav-link" href="/Challenges">
          <i class="fas fa-flag"></i>
                  <span class="nav-item">Challenges</span>
  
        </a>
        </li>

        <li>
          <a style="text-decoration: none;" class="nav-link" href="/ContactUs">
            <i class="fas fa-envelope"></i>
                    <span class="nav-item">Contact Us</span>
    
          </a>
          </li>

          <li>
            <a style="text-decoration: none;" class="nav-link" href="/FAQ">
              <i class="fas fa-question-circle"></i>
                      <span class="nav-item">FAQ</span>
      
            </a>
            </li>

            <li>
              <a style="text-decoration: none;" class="nav-link" href="/Banner">
                <i class="fas fa-images"></i>
                        <span class="nav-item">Banner</span>
        
              </a>
              </li>

              <li>
                <a style="text-decoration: none;" class="nav-link" href="/TermConditions">
                  <i class="fas fa-leaf"></i>
                          <span class="nav-item">Terms & conditions</span>
          
                </a>
                </li>

                <li>
                  <a style="text-decoration: none;" class="nav-link" href="/PrivacyPolicy">
                    <i class="fas fa-hands"></i>
                            <span class="nav-item">Privacy & Policy</span>
            
                  </a>
                  </li>

                  <li>
                    <a style="text-decoration: none;" class="nav-link" href="/aboutUs">
                      <i class="fas fa-book"></i>
                              <span class="nav-item">About Us</span>
              
                    </a>
                    </li>



      
   </ul>
</div> 

<div class="container">
  <div class="header">
    <h2> ADMIN DASHBOARD</h2>

    <div class="profile-icon">
      Admin
      <i class="fas fa-user-circle"></i>
    </div>
  </div>